.container {
  display: flex;
  padding: 1rem;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 740px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.option label {
  all: unset;
  font-weight: 500;
}

.optionBackgroundImage {
  flex: 1.5;
}

.optionFontFamily {
  flex: 1.2;
}

.optionFontSize {
  flex: 0.8;
}

.optionPadding {
  flex: 0.8;
}

.optionSizing {
  flex: 1;
}

.optionExportMenu {
  justify-content: center;
}

@media only screen and (max-width: 810px) {
  .options {
    flex-direction: column;
  }
}
