.container {
  display: flex;
  padding: 1rem;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 700px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.option label {
  all: unset;
  font-weight: 500;
}

@media only screen and (min-width: 699px) {
  .optionBackgroundImage {
    flex: 1.5;
  }

  .optionFontFamily {
    flex: 1.2;
  }

  .optionFontSize {
    flex: 0.8;
  }

  .optionPadding {
    flex: 0.8;
  }

  .optionExportMenu {
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .options {
    flex-direction: column;
  }
}
